body{
  background-color: rgb(226, 226, 226);
  font-family: arial;
  margin: 0;
  min-width: 400px;
  /* background-color: red; */
  text-align: center;
}
h1#title{
  font-size: clamp(20px, 4vw, 80px)
}
.all-team-members{
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 2rem;

}
.member-area{
  /* background-color: green; */
  --direction: to right;
  width: 100%;
  background-image: linear-gradient(var(--direction), rgb(143, 143, 143), rgb(172, 172, 172), rgb(200, 200, 200), rgb(218, 218, 218), transparent);
  display: flex;
  align-items: center;
  padding: 1rem;
}
/* .member-area[data-member-parity="odd"]{
} */
.member-area[data-member-parity="even"]{
  flex-direction: row-reverse;
  --direction: to left;
}
.member-static{
  /* background-color: purple; */
}

.member-pfp{
  /* background-color: greenyellow; */
  background-color: white;
  border-radius: 100%;

}
.member-name{
  /* background-color: yellow; */

}

.member-dynamic{
  max-width: 40vw;
  /* background-color: crimson; */
}

.member-quote{
  /* background-color: orange; */

}
.member-socials{
  /* background-color: cornflowerblue; */

}
.social-icon{
  /* background-color: violet; */

}
.social-icon-img{
  width: 48px;
}